body{
    position: relative;
    display: block;
    min-height: auto;
    width: 100%;
    padding: 0 5vw;
    margin: auto;
}
.logo{
    display: block;
    margin: 20px auto;
    height: 80px;
}

/* Become a seller Section */
.hide{
    display: none;
}